In [11]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [12]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [13]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [14]:
Base.classes.keys()

['measurement', 'station']

In [15]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [16]:
#use inspector to explore the database and print the table names
inspector = inspect(engine)

inspector.get_table_names()

['measurement', 'station']

In [25]:
#use inspector to explore database and print table names
columns = inspector.get_columns('measurement')

for col in columns:
    print(col['name'], col['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

## D1: Determine the Summary Statistics for June

In [57]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters/extract the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 6).all()
print(june_temps[2].tobs)

78.0

In [63]:
#  3. Convert the June temperatures to a list.
june_temps_list = [(i.date, i.tobs) for i in june_temps]
#print(june_temps_list)

In [65]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 

# # Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(june_temps_list, columns=['date','june_temps'])
print(df)

            date  june_temps
0     2010-06-01        78.0
1     2010-06-02        76.0
2     2010-06-03        78.0
3     2010-06-04        76.0
4     2010-06-05        77.0
...          ...         ...
1695  2017-06-26        79.0
1696  2017-06-27        74.0
1697  2017-06-28        74.0
1698  2017-06-29        76.0
1699  2017-06-30        75.0

[1700 rows x 2 columns]

In [66]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

        june_temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [73]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement).filter(extract('month', Measurement.date) == 12).all()
print(dec_temps[2].tobs)

74.0

In [74]:
# 7. Convert the December temperatures to a list.
dec_temps_list = [(i.date, i.tobs) for i in dec_temps]
#print(dec_temps_list)

In [75]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(dec_temps_list, columns=['date','dec_temps'])
print(df)

            date  dec_temps
0     2010-12-01       76.0
1     2010-12-03       74.0
2     2010-12-04       74.0
3     2010-12-06       64.0
4     2010-12-07       64.0
...          ...        ...
1512  2016-12-27       71.0
1513  2016-12-28       71.0
1514  2016-12-29       69.0
1515  2016-12-30       65.0
1516  2016-12-31       65.0

[1517 rows x 2 columns]

In [77]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

         dec_temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000